@model IEnumerable<Attendes>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}


<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
        </tr>
    </thead>


    @foreach (var attende in Model)
    {
        <tr>           
            <td>@attende.Name</td>
            <td>@attende.Email</td>
            <td>@attende.Phone</td>
        </tr>

    }

</table>

