@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}



<div class="text-center p-4 ">
    <h1> WE ARE GOING TO HAVE AN EXCITING PARTY  </h1>
    <a class="btn btn-primary " asp-action="Rspv"> Register </a>
</div>